<html>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">

    <body>

        <div class="sidenav">
            <a href="/">Home</a>
            <a href="/hpr">HPR</a>
            <a href="/apr">APR</a>
            <a href="/ear">EAR</a>
        </div>

        <div class="main" style="margin-left: 250px;">
            <form action="/ear" method="POST">
                <label>Period Rate</label>
                <input name="per_period_rate" id='per_period_rate' value=""><br/>
                <label>Number Of Periods</label>
                <input name="number_of_periods" id='number_of_periods' value=""><br/>
                <button name="submit" type="submit">Submit</button>
            </form>

            <h1>
                {{ear}}
            </h1>
        </div>

    </body> 
</html>