<html>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">


    <body>
        <div class="sidenav">
        <a href="/">Home</a>
        <a href="/hpr">HPR</a>
        <a href="/apr">APR</a>
        <a href="/ear">EAR</a>
        </div>

      <div class="main" style="margin-left: 250px">
      <form action="/hpr" method="POST">
        <label>Purchase Price</label>
        <input name="purchasePrice" id='purchasePrice' value="{{purchasePrice}}"><br/>
        <label>Sale Price</label>
        <input name="salePrice" id='salePrice' value="{{salePrice}}"><br/>
        <label>Dividend</label>
        <input name="dividends" id='dividends' value="{{dividends}}"><br/>
        <button name="submit" type="submit">Submit</button>
      </form>

      <h1>
        HPR: {{hpr}}<br/>
        CG: {{capitalGain}}<br/>
        DY: {{dividendYield}}<br/>
      </h1>
    </div>
    </body> 
</html>