<html>
  <title>Financial Functions Home Page</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">

    <body>
      <div class="sidenav">
        <a href="/" style="margin-left: 0px; font-size: xx-large; margin-bottom: 15px; color: white;">Home</a>
        <a href="/hpr">HPR</a>
        <a href="/apr">APR</a>
        <a href="/ear">EAR</a>
        <a href="/PerPeriod">Per Period Rate</a>
        <a href="/sharpe">Sharpe Ratio</a>
        <a href="/geometricMean">Geometric Mean</a>
        <a href="/harmonicMean">Harmonic Mean</a>
      </div>

      <div class="main">
        <h1>WELCOME TO FINANCIAL FUNCTIONS</h1>
        <h3>CREATORS</h3>
        <pre> Alexander Castro, Kaleb Litchfield, Zack Cotter, Troy Allison, Peter Nikitakis</pre>
        </br>
        </br>
        <img src="{{url_for('static', filename='TI_Financial.jpg')}}"/>
      </div>
    </body> 
</html>