<html>

    <link rel="stylesheet" type="text/css" href="/static/css/style.css">

    <body>
      <div class="sidenav">
        <a href="/">Home</a>
        <a href="/hpr">HPR</a>
        <a href="/apr">APR</a>
        <a href="/ear">EAR</a>
      </div>

      <div style="margin-left: 275px; background-color: rgb(215, 215, 215); padding: 25px; width: min-content;">
        <h1>WELCOME TO FINANCIAL FUNCTIONS</h1>
        <h3>CREATORS</h3>
        <pre> Alexander Castro, Kaleb Litchfield, Zack Cotter, Troy Allison, Peter Nikitakis</pre>
    </div>
    </body> 
</html>